body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 55px !important;
  line-height: 1.3;
}

p {
  font-size: 22px;
  text-align: center;
  color: #120c32;
  font-weight: 500;
  margin-bottom: 30px;
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

.simpleButton {
  cursor: pointer;
  background: #5946cf;
  border-radius: 6px;
  padding-left: 30px;
  padding-right: 30px;
  height: 54px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: Avenir Next Medium;
  transition: transform 0.2s ease-in-out;
}

.simpleButton:hover {
  transform: scale(1.05);
}
.bodyimg {
    text-align: center;
    margin-top: 20px; 
  }
  
  .bodyimg img {
    max-width: 100%;
    height: auto;
  }
  .text-center{
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 25px !important;
  }
  .users-number {
    font-size: 30px;
    border-radius: 6px;
  }
  .companiesimg{
    display: flex;
    flex-direction: row;
    width: 10px; 
  }